html, body{
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.header{
    background-color: #FFF;
    border-bottom: 1px solid #dbdbdb;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header .navbar{
    width: 975px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand{
    width: 112px;
    height: 42px;
}

.navbar .wrap-input{
    position: relative;
    width: 215px;
    height: 28px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.navbar .wrap-input input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.navbar .wrap-input input::placeholder{
    color: #8e8e8e;
    font-size: 14px;
    text-align: center;
    padding-right: 50px;
}

.navbar .wrap-input input:focus{
    outline: none;
}

.navbar .wrap-input input[type="text"]{
    color: #3a3a3a;
    padding-left: 30px;
}

.navbar .wrap-input input:focus + img.icon-search{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
}

.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
}

.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navbar .wrap-input img.icon-search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35px, -50%);
}

.header .navbar .nav-item{
    display: flex;
    align-items: center;   
}

.header .navbar .nav-item:hover{
    cursor: pointer;    
}

.nav-item img{
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

/* style menu profile */

.menu-profile{
    background-color: #FFF;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.0975);
    width: 191px;
    border-radius: 6px;
    position: absolute;
    right: -76%;
    top: 39px;
    display: none;
}

.showMenuProfile{
    display: block;
}

.menu-profile .item-menu{
    display: flex;
    align-items: center;
    padding: 7px 11px;
}
.menu-profile hr{
    margin: 0;
    border: 1px solid #f7f7f7;
}
.menu-profile .item-menu:hover{
    background-color: #efefef;
    transition: 0.5s;
}
/* .menu-profile #triangle-up{
    position: absolute;
    z-index: 9999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid #fff;
    top: -10px;
    right: 16%;
} */

/* style menu -like */
.wrap-item-like{
    position: relative;
}

.wrap-like{
    position: relative;
    height: 30px;
}
.menu-like{
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.0975);
    width: 512px;
    height: 278px;
    border-radius: 6px;
    position: absolute;
    right: -53%;
    top: 40px;
    display: none;
    /* display: block; */
    overflow-y: scroll;
}

.showMenuLike{
    display: block;
}

.menu-like .item-menu{
    display: flex;
    align-items: center;
    padding: 7px 11px;
    justify-content: space-between;
}

.menu-like .item-menu:first-child{
    display: flex;
    align-items: center;
    padding: 14px 11px 7px 11px;
    justify-content: space-between;
}

.menu-like .item-menu .profile{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

.menu-like .item-menu .profile img{
    width: 100%;
    height: 100%;
}

.menu-like .item-menu .profile-dua{
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.menu-like .item-menu .profile-dua img{
    width: 100%;
    height: 100%;
}

/* .wrap-like #triangle-up-like{
    position: absolute;
    z-index: 999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid #FFF;
    top: 28px;
    right: 47%;
} */

.menu-like .item-menu img{
    margin-right: 10px;
    width: 16px;
}
.menu-like .item-menu span{
    font-size: 14px;
    color: #7b7b7b;
}
.menu-like hr{
    margin: 5px 8px 5px 57px;
    border: 1px solid #f7f7f7;
}

@media (max-width:1024px){
    .navbar{
        max-width: 90%;
    }
}

@media (max-width:626px){
    .wrap-input{
        display: none;
    }

    .menu-like{
        width: 700%;
    }
}

@media (max-width:420px){
    .nav-item img{
        width: 25px;
        height: 25px;
    }
    .nav-item .profile{
        width: 25px;
        height: 25px;
    }
    .navbar .brand{
        width: 80px;
        height: 30px;
    }
}

/* style content */
.content{
    display: flex;
    max-width: 975px;
    margin: 0 auto;
    margin-top: 30px;
}

.content-left{
    max-width: 60%;
    border-radius: 2px;
}

.multiple-items{
    padding-top: 3%;
    position: relative;
    border: 1px solid #d7d7d7;
    background-color: #FFF;
}

.multiple-items .wrap-img{
    width: 65px !important;
    height: 64px !important;
    border-radius: 50%;
    border: 3px solid #ff006a;
}

.multiple-items .wrap-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.multiple-items .wrap-img p{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
}

.slick-prev:before{
    color: transparent !important;
    background-image: url('../img/content/222.png') !important;
    background-position: center;
    background-size: cover;
    font-size: 27px;
    position: relative;
    bottom: 10px;
    left: -4px; 
}

.slick-next:before{
    color: transparent !important;
    background-image: url('../img/content/333.png') !important;
    background-position: center;
    background-size: cover;
    font-size: 27px;
    position: relative;
    bottom: 10px;
    right: -4px; 
}

.slick-next{
    right: 16px !important;
}

.slick-prev{
    left: 12px !important;
    z-index: 99999;
}

.slick-slide{
    width: 98px !important;
}

/* style content right */
.tx-grey{
    color: #8e8e8e;
}
.tx-blue{
    color: #0095f6;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.h-100vh{
    height: 100vh;
}

.font-weight-500{
    font-weight: 500;
}

.content-right{
    width: 40%;
    padding-left: 35px;
    padding-top: 22px;
}

.content-right .img-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.content-right .img-circle-2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.content-right h3{
    font-size: 14px;
    margin: 3px 0;
}

.content-right h4{
    font-size: 12px;
    margin: 3px 0;
}

.content-right h5{
    font-size: 11px;
    margin: 3px 0;
    color: #c7c7c7;
}